.header__submenu {
   min-width: 100%;
   color: black;
   transition: all 0.2s ease;
   position: absolute;
   top: -110px;
   left: 0;
   z-index: 0;
 }

 .opened {
   top: 98px;
 }
 
 .header__submenu_container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
 }
 .header__submenu_item {
   display: flex;
   flex-direction: column;
 }
 .header__submenu_title {
   font-size: 30px;
 }
 .header__submenu_link {
 }